:root {
    --radius-btn-ui: 10px;
	--transition-btn-ui-time: 0.2s;
	--transition-btn-ui: opacity var(--transition-btn-ui-time) ease,
		transform var(--transition-btn-ui-time) ease, visibility var(--transition-btn-ui-time);
	--transition-out-btn-ui: opacity var(--transition-btn-ui-time) ease,
		transform var(--transition-btn-ui-time) ease, visibility 0s linear 0s;
}

.components-button.has-icon {
    flex: 0 1 min-content;
}

.delete-confirm-buttons {
    display: flex;
    gap: 6px;
    justify-content: right;
    margin: 30px 10px 0;
    button {
        flex: 0 1 min-content;
    }
}

.btn-ui {
    button {
        display: grid;
        height: 35px;
        width: 35px;
        justify-content: center;
        border-width: 0;
		border-radius: var(--radius-btn-ui);
		transition: var(--transition-btn-ui);
        
		&:hover {
			cursor: pointer;
			transform: translateY(-1px);
			box-shadow: inset -1px 1px 0 rgba(255,255,255,0.7), 0 8px 20px color-mix(in srgb, white 25%, transparent);
		}

        font-size: 24px;
        background: var(--wp-admin-theme-color, #007cba);
        color: var(--wp-components-color-accent-inverted, #fff);
        border: none;

        &:hover {
            background-color: var(--wp-admin-theme-color-darker-10, #006ba1);
        }
    }
}

.tool-tip {
    display: grid;
    opacity: 0;
    visibility: hidden;
    width: max-content;
    position: absolute;
    padding: 5px;
    background-color: white;
    outline: solid 1px currentColor;
    border-radius: 6px;
    justify-items: left;
    gap: 10px;
    bottom: calc(100% + 6px);
    font-size: 16px;
    z-index: 1;
    transition: var(--transition-btn-ui);
}

.delete-button {
    display: grid;
    width: max-content;
    justify-items: left;
    align-items: center;
    gap: 10px;
    top: 0;
    z-index: 1;
    transform: translateY(0);
    transition: var(--transition-btn-ui);

    button {
        font-size: 20px;
        align-content: center;
        background: var(--wp-components-color-accent, #cc1818);
        border: none;
        color: var(--wp-components-color-accent-inverted, #fff);

        &:hover {
            background-color: var(--wp-components-color-accent-darker-10, #9e1313);
        }
    }
    
    .tool-tip {
        bottom: unset;
        transform: translateX(calc(-100% - 6px))
    }
    
    &:hover .tool-tip {
        opacity: 1;
        visibility: visible;
        transition: var(--transition-out-btn-ui);
    }
}
